.large-pub-cont {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: auto;
    padding: 5px;
    margin: 10px;
    background-color: whitesmoke;
}

.large-pub-img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
}