.small-pub-cont{
    display: flex;
    flex-direction: column ;
    width: 18vw;
    height: auto;
    
}

.small-pub-img{
    box-sizing: border-box;
    width: 18vw;
    height: auto;
}

@media screen and (max-width: 425px ) {
    .small-pub-cont{
        display: none;
    }
    .small-pub-img{
        display: none;
    }
}