.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: auto;
    margin: 0%;
    padding: 0%;
} 

.report-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 5px;
    padding: 10px;
    background-color: white;
}


.main-img{
    width: 58vw;
    height: auto;
}

.second-img{
    display: inline;
    width: fill;
    height: auto;
    width: 58vw;
    margin-top: 2%;
    margin-bottom: 2%;
}

.header-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    border: 1px solid grey;
    
}

.title1{
    display: inline;
    color: white;
    background-color: red;
    width: fill;
    padding: 0 0 2% 0;
}

.title2{
    display: inline;
    color: grey;
    background-color: white;
    box-sizing: border-box;
    width: 95%;
    margin-left: 2%;
    margin-top: 2%;
}

.img-foot {
    font-size: smaller  ;
}

.report-section {
    color: white;
    background-color: orange;
    display: flex;
    flex-direction: row;
    
}

.paragraphs{
    box-sizing: border-box;
    width: 100%;
    margin-left: 2%;
}

.publicity-container{
    box-sizing: border-box;
    width: 95%;
    margin-left: 2%;
    color: orange;
    background-color: palevioletred;
}
@media screen and (max-width: 640px ) {
    .report-container {
        margin-top: 10px;
        width: 100vw;
    }
    .main-img {
        width: 95vw;
    }
    .img-container {
        width: 100vw;
    }
    .paragraphs {
        box-sizing: border-box;
        width: 95%;
    }
}