.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    height: auto;
    
    
} 

.report-container {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 2%;
    padding: 10px;
    background-color: lavender;
}

.main-img{
    width: auto;
    height: auto;
    width: 80vw;
}