.sections-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
}

@media screen and (max-width: 425px) {
    .searchbar-cont{
        display: none;
    }
}