.btn1 {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  width: fit-content;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 5px;
}

.uploader-container{
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
  flex-direction: column-reverse;
  
}

.file-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

