.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 110px;
    width: 100vw;
    background-color: black;
   
}
.logo1 {
    width: 70px;
    height: 70px;
    margin: 10px 0px 10px 30px;
    border-radius: 70%;
    left: 50px;
    top: 13px;
}


.nav-title {
    display: flex;
    align-items: center;
    height: 60px;
    font-family:  'Arial', 'Arial Narrow', 'sans-serif';
    font-weight: bolder;
    margin: 10px;
    color: white;
}

.searchbar{
    position: static;
    left: 30%;
}

.btn-nav{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 3%;
    font-size: 90%;
    color: white;
}

.editor-navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E15A3B;
    height: 30px;
    padding: auto;
}

.editor-options{
    border: 2px solid grey;
    text-decoration: none;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10%;
}

.links{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sections-cont{
    display: flex;
}

@media screen and (max-width: 425px) {
    .sections-cont{
        display:none;
    }
}