.logo1 {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 70%;
    position: fixed;
    left: 50px;
    top: 13px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 110px;
    width: 100vw;
    background-color: black;
}

.nav-title {
    display: flex;
    align-items: center;
    height: 60px;
    font-family:  'Arial', 'Arial Narrow', 'sans-serif';
    font-weight: bolder;
    margin: 10px;
    color: white;
}

.searchbar{
    position: fixed;
    left: 30%;
}