.logo1 {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 70%;
    position: static;
    left: 50px;
    top: 13px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 110px;
    width: 100vw;
    background-color: black;
    position: static;
}

.nav-title {
    display: flex;
    align-items: center;
    height: 60px;
    font-family:  'Arial', 'Arial Narrow', 'sans-serif';
    font-weight: bolder;
    margin: 10px;
    color: white;
}

.searchbar{
    position: static;
    left: 30%;
}

.btn-nav{
    position: relative;
    right: 0%;
    font-size: 90%;
    color: white;
}

.editor-navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E15A3B;
    
    height: fit-content;
}

.editor-options{
    border: 2px solid grey;
    text-decoration: none;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10%;
}

.links{
    text-decoration: none;
    color: black;
    font-weight: bold;
}