.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 15vh;
    
}

.required-field {
    color: red
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 1%;
    border: 1px solid black;
    max-width: 98vw;
}

.input-creator{
    width: 70vw;
    height: auto;
}

.uploader-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
}